{% extends 'base.html' %}

{% block content %}


<table align="center" style="width: 50%;">
			<thead>
				<tr>
					<th>Received By</th>
					<th>Given By </th>
					<th>Month</th>
					<th>Total Points</th>
				</tr>
			</thead>	
			<tbody>
			{% for i in points %}
				<tr>
				{% for key,value in i.items %}
				<td>{{ value }}</td>
				{% endfor %}
				
			</tr>	
			{% endfor %}
			</tbody>
			
</table>	

<br>
<h2 align=center>Points given Out by the respective users</h2>

{% for user,list in summary.items %}
<table align="center" border=1 frame=void rules=rows style="width: 50%;">
			<thead>
				<tr>
				<th style="font-weight:bold;">{{ user }}</th>
			</tr>
				<tr>
					<th>Received By</th>
					<th>Month</th>
					<th>Total Points</th>
				</tr>
			</thead>	
			<tbody>
			{% for i in list %}
				<tr>
				{% for key,value in i.items %}
				<td>{{ value }}</td>
				{% endfor %}
				
			</tr>	
			{% endfor %}
			</tbody>
</table>	

{% endfor %}

{% endblock %}